<h1>Available meetups</h1>
<ul>
  <% active_meetups.each do |meetup| %>
    <li>
      <a href="/meetups/<%= meetup.id %>">
        <%= meetup.name %>
      </a>
    </li>
  <% end %>
<ul>

<a href="/meetups/create">Create a new meetup!</a>
