<h1><%= meetup.name %></h1>
<div class="row">
  <dl>
    <dt>Location</dt>
    <dd><%= meetup.location %></dd>
  </dl>
  <dl>
    <dt>Description</dt>
    <dd><%= meetup.description %></dd>
  </dl>
</div>

<div class="row">
  <form id="join_meetup" action="/meetups/join/<%= meetup.id %>" method="post">
    <button type="submit">Join this meetup!</button>
  </form>
</div>
